<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form action="/search" method="get">
        <label for="departureCity">City of departure</label>
        <input type="text" name="departureCity" />
        <label for="arrivalCity">City of arrival</label>
        <input type="text" name="arrivalCity" />
        <label for="departureDate">Date of departure</label>
        <input type="date" name="departureDate" />
        <label for="password">Password</label>
        <input type="password" name="password" />
        <button type="submit">Search for flights</button>
    </form>
</body>

</html>