<div class="cards-container">
    <div class="card">
        <img src="/images/players.jpg" alt="" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">Players</h5>
            <p class="card-text">Check the top NBA Players!</p>
            <a class="btn btn-primary" href="/players">See players</a>
        </div>
    </div>
    <div class="card">
        <img src="/images/teams.jpg" alt="" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">Teams</h5>
            <p class="card-text">Check the top NBA teams!</p>
            <a class="btn btn-primary" href="/teams">See teams</a>
        </div>
    </div>
</div>